.form-control {
  @include box-shadow(0 1px 1px rgba(0,0,0,.075));
}
// Search form
.search-form {
  @extend .form-inline;
  .input-group {width:100%;position:relative}
  .input-group-btn {position: absolute; right:0; top:0 ; width:35px;z-index: 99}
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control; border-radius: 4px !important;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-primary;
  &:hover {background: none; color:$brand-primary}
}
.menu-search {
  label {font-style: italic; font-size: 18px;}
}
.gform_wrapper { margin-top:0; @include clearfix; @extend .row;
  ul {@extend .list-unstyled; }
  li {@extend .form-group; }
  .gfield_required {padding-left: 1px; color: $state-danger-text; }
  form {margin-bottom: 0; }
  .ginput_container input, .ginput_container select, .ginput_container textarea, .gfield_captcha_input_container input {@extend  .form-control; padding:3px 8px 3px 8px; font-size: 13px; border-color:#484848 !important; border-radius:0;
    &:focus {border-color:$brand-primary; //box-shadow: inset 0 1px 1px $brand-primary, 0 0 3px $brand-primary; -webkit-box-shadow:inset 0 1px 1px $brand-primary, 0 0 3px brand-primary;
    }
  }
  .ginput_container textarea {height: 110px; }
  .validation_error {@extend .text-center; color:$alert-danger-text; font-weight: bold;}
  .gfield_label { color: #4e4e4e;font-size: 14px; font-weight: 300; margin-bottom: 2px;}

}
.ginput_container {
  .gfield_checkbox li {margin-bottom: 0;}
  //comentariu
  input[type="file"] {padding:0; background: transparent;border: none; box-shadow: none}
}
.gform_footer {clear:both; text-align: center; margin-bottom: 25px;}
.gfield .validation_message {font-size: 12px;}
.gfield_captcha_container { position: relative;
  img {position: absolute; right:3px; top:3px;}
}

.gform_button {@extend .btn;@extend .btn-primary; border-radius:0; border:none; padding-left:25px; padding-right:25px; font-size:14px; text-transform: uppercase; background-color: $brand-secondary;}
.gform_wrapper .gfield_error {
  .gfield_label {color: $state-danger-text; }
  input, select, textarea {border-color: $alert-danger-border; background-color: $alert-danger-bg; color: $alert-danger-text; @include form-control-focus($alert-danger-text); }
}
.gform_confirmation_message {@extend .alert; @extend .alert-success; text-align: center; margin:25px 0; }
.ginput_container input[type="checkbox"], .ginput_container input[type="radio"] {float: left; width: 15px; margin-right: 7px; height:15px; margin-top:5px;}
.ginput_container .gfield_checkbox label, .ginput_container .gfield_radio label {font-weight: normal; display: inline-block; font-size: 13px;color:#4e4e4e}

.hidden-label {
  .gfield_label {display: none}
}
// reCaptcha v2
#field_1_6, #field_2_7, #field_2_6 {clear:both; margin-top:10px;
  label {display: none}
}
.g-recaptcha {
  label {display:none;}
  div {margin-left:auto; margin-right: auto }
}
// List
.gfield_list {width:100%}
.gfield_list_cell {padding-right:15px;padding-bottom: 10px;}
.gfield_list_icons {vertical-align: top}
.gfield_list_group {padding-bottom: 15px;}

// Newsletter Form
.newsletter-form { position: relative;
  input.gform_button {position: absolute !important; right:5px; bottom:5px; background: #323030 !important; font-style: normal!important; border:none!important; box-shadow: none!important; text-transform: uppercase; border-radius: 0; font-size:14px;}
  input[type="email"] {background: transparent; border-radius:0; box-shadow:none; font-size: 12px; border-color:#a1998e !important; font-style: normal; opacity: 1;  margin-top:10px; }
  input[type="email"]::-moz-placeholder { display:block; visibility: visible; color:red; }
}


