// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
    @include make-md-column($main-md-columns - $sidebar-md-columns);
    @include make-lg-column($main-lg-columns - $sidebar-lg-columns);
    @extend .col-sm-push-4;@extend .col-md-push-3;@extend .col-lg-push-3;
  }
}
.sidebar{
  @include make-sm-column($sidebar-sm-columns);
  @include make-md-column($sidebar-md-columns);
  @include make-lg-column($sidebar-lg-columns);
  @extend .col-sm-pull-8; @extend .col-md-pull-9; @extend .col-lg-pull-9;
}

.post-type-archive-agri_products, .tax-product-categories, .single-agri_products {
  .main {}
}


