// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: ($line-height-computed / 2) auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: ($line-height-computed / 2);
  height: auto;
}
.thumbnail {box-shadow: 1px 1px 3px #ddd;}
@media (min-width: $screen-sm-min) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($line-height-computed / 2);
  }
  .alignright {
    float: right;
    margin-left: ($line-height-computed / 2);
  }
}

// Captions
.wp-caption {
  //@extend .thumbnail;
}
.wp-caption-text {
  padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

// Galleries
img {
  &.aligncenter, &.alignleft, &.alignnone, &.alignright,&.size-thumbnail, &.size-medium, &.size-large {@extend .img-responsive}
}
div.gallery { margin: 0 -1.1666667% 1.75em; @extend .clearfix; clear:both;
  img {@extend .thumbnail}
}
.gallery-item { display: inline-block; max-width: 49%; padding: 0 1.1400652% 2.2801304%; text-align: center; vertical-align: top; width: 100%; }
.gallery-columns-1 .gallery-item { @include make-sm-column(12) }
.gallery-columns-2 .gallery-item { @include make-sm-column(6) }
.gallery-columns-4 .gallery-item { @include make-sm-column(3) }

.gallery-columns-6 .gallery-item { @include make-sm-column(2) }
.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11%; }
.gallery-icon img { margin: 0 auto;max-width: 100%; height:auto;}
.gallery-caption { color: #686868; display: block; font-size: 13px; font-style: italic; line-height: 1.6153846154; padding-top: 0.5384615385em; }
.gallery-columns-6 .gallery-caption, .gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption { display: none; }
.alignleft {
  float: left;
  margin-right: ($line-height-computed / 2);
}
.alignright {
  float: right;
  margin-left: ($line-height-computed / 2);
}

@media (min-width: $screen-sm-min) {
  .gallery-columns-5 .gallery-item { max-width: 20%; }
  // Only float if not on an extra small device

}