.content-info {padding:40px 0 0 0; background: #141414; margin-top:35px; color:#6a6a6a;
 
  .footer-seperator{height:1px; background-color:#363636; margin:30px 0 20px 0; position:relative;
    .footer-copyright{ font-size: 12px !important;
      p{font-size: 12px !important;}
      h6{color:#737373;}
    }
    &:after{content: ""; width:0; height:0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid #363636; position:absolute; left:50%; margin-left:-15px;}
  }
  li{margin-bottom:10px;}
  h3 {margin-top:10px; color:white; margin-bottom: 40px; font-family: $font-open; text-transform: uppercase; font-weight: bold; font-style: normal; font-size:16px; }
	a {color:#737373; text-decoration: none; font-size:14px;
		&:hover {color:white;}
	}
  .widget_nav_menu { //text-align: center;
	ul {
	  //@extend .list-inline;
	 @extend .list-unstyled;
	}
  }
  .widget_text:last-of-type {text-align: right;
	@media screen and (max-width: $screen-sm-min){ text-align: center;}
  	img {display: inline-block}
  }
  .widget {margin-bottom: 15px;}
  .gform_wrapper {margin-left:0; margin-right:0;}
}
#totop { position: fixed; right: 30px; bottom: 30px; display: none; outline: none; width:40px; height: 40px; background-color: rgba(0,0,0,0.5); padding:5px; border-radius:3px;
  &:hover, &:focus, &:active, &:visited {text-decoration: none; color:#fff;}
  i {font-size: 28px; color:white;}
}
.copyright {background:#000000; text-align: center; font-size: 14px; padding-top:15px;padding-bottom: 15px;
	p {margin-bottom: 0}
}
.footer-logo {margin-bottom: 25px;}

@media screen and (min-width: $screen-sm-min) {}
@media screen and (max-width: $screen-sm-min){}

#gform_3{ position:relative;
  input[type="email"]{background-color: transparent; border-radius:0; border-color:#484848 !important; height:43px; font-size:12px;
    @media screen and (max-width: $screen-xs-max){font-size:10px;}
  }
  input[type="submit"]{position:absolute; bottom:5px; right:5px; background-color:#323030; padding:8px 20px; font-size:12px; text-transform: uppercase;}

 }

.home, .archive {
  #gform_3{ position:relative;
  input[type="email"]{background-color: transparent; border-radius:0; border-color:#484848 !important; height:43px; font-size:12px;}
  input[type="submit"]{position:absolute; bottom:5px; right:5px; background-color:#323030; padding:11px 20px; font-size:12px; text-transform: uppercase;}
 }
}

.single {
  #gform_3{
    input[type="submit"]{padding:10px 20px;}
  }
}