.navbar-default { box-shadow: none;
  @media screen and (max-width: $screen-xs-max){margin-bottom:-30px; z-index:2;}
  
  .navbar-nav{margin-top:18px; }

}
   ul.dropdown-menu {
      a{padding:5px 15px !important;}
    }

.main-header {background: #FFF; position: relative; z-index:-1;
	&:after {content:""; width: 0; z-index:1; height: 0;position:absolute; left:50%;bottom:-53px;border-top: 53px solid #FFF;
    @media screen and (max-width: $screen-sm-max){border-left: 90px solid transparent; border-right: 90px solid transparent;margin-left:-90px}
    @media screen and (max-width: $screen-md-max){border-left: 110px solid transparent; border-right: 110px solid transparent;margin-left:-110px}
    @media screen and (min-width: $screen-lg ){border-left: 150px solid transparent; border-right: 150px solid transparent;margin-left:-150px}
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {max-height:85px; 
    .search-form {padding-top:6px;
    .header-search-btn {top:8px;}
    }
  }

 .header-logo{ z-index: 2;
   @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {max-height: 100px;}
   @media screen and (min-width: $screen-md-min) {max-height: 100px;}
 }
}

li.dropdown {
  @media screen and (max-width: $screen-sm-max){
    a{text-align: center;}
  } 
}
.topbar { background: #f2f2f2; text-transform: uppercase; padding:7px 0;
  a {color:#393939; font-size: 13px;}
  i {margin-right:5px; float:left; line-height: 20px;}
  #menu-topbar-dreapta{
  	.menu-item {
	  	a {border-right: 1px solid #999; margin:0; padding:0 10px;}
  	}
	.right-icon{margin-right: -5px;}
	.lang-switch{
	  a {border-right:none;}
	}
  }
  
  #menu-topbar-left, #menu-topbar-dreapta{margin:0;}
}
.banner { position: relative; z-index: 1000; 
	.header_cart{margin-top: 14px; background-color:black; margin-left:30px;
    	@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){margin-top:6px;}
		.cart-contents{color:white;}
		span {text-decoration: none;}
		@media screen and (max-width: $screen-sm-max){margin-left:0;}
	}
	p {margin-bottom: 0}
  .header-right {font-weight: 300; margin:20px 0;
  	.header-search{float:right;
  		@media screen and (max-width: $screen-xs-max){float:left}
  	}
	.tel-header {font-size: 32px;}
	.tel-header {font-size: 32px;}
  }
}

.navbar-brand {padding:0;height:103px; float:none; margin:10px auto 0; display:inline-block;}
.navbar-toggle {background: $brand-primary;  margin:11px auto 0; float:none; border-radius:0;
	@media screen and (max-width: $screen-xs-max){margin:0;}
  .icon-bar {width:30px; height:3px;}
}
.navbar-header {text-align: center}
.menu-search form {padding-top:14px;position: relative; max-width:151px; //margin:0 auto;

  .search-field {height:33px;width:100%; box-shadow:none; background: white; color:$brand-secondary; border:1px solid #807a76; border-radius:0 !important;}
  .search-field:placeholder-shown{text-transform:uppercase; font-style: normal; font-size:11px; color:#807a76;}
  .header-search-btn {height:29px;font-size:14px;position: absolute; right:5px; top:14px; background: none;border:none;outline:none;color:#808080;

  }
}
.dropdown-menu {box-shadow: 0 3px 6px rgba(0,0,0,.175);}
#breadcrumbs {color:#666; font-size: 12px; line-height: 26px;
	a {color:#333;}
}
.page-header-container {background-color:#f2f2f2; padding-top:60px; padding-bottom: 10px; margin-bottom:30px; position: relative;}
.page-header {margin:0; border:none; padding:0; color:#f2f2f2; text-align: center;
	@media screen and (max-width: $screen-sm-max){
		clear:both;
	}
	h1 {margin-bottom: 5px;margin-top: 5px;}
}
.breadcrumb_last{color:$brand-primary;}
.page-title {margin-top:0; @extend .sep-simple; display:none; }
.lang-switch a {padding-left:5px !important; padding-right:5px !important;}


@media screen and (max-width: $screen-xs-max) {
	.hp-slider { position: relative;
	&:after {content:""; width: 0;
	  height: 0;
	  border-left: 55px solid transparent;
	  border-right: 55px solid transparent;
	  border-top: 24px solid #fFF;position:absolute; left:50%; bottom:-24px; margin-left:-55px}
	  .navbar-toggle {background: $brand-primary;float:none; margin-top:0;}
}
  .topbar {
	i {font-size: 22px;}
  }

  .banner {
	> .container {text-align: center}
	.navbar-brand {max-width:250px; ;display:inline-block; overflow: hidden}
  }
  .navbar-brand {float:none;
	img {display: inline-block; width:100px;}
  }
}
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .navbar-default .navbar-nav > li > a, .menu-search {padding-left:10px;padding-right:10px;}
  .topbar {
	.hp-slider { position: relative;
	&:after {content:""; width: 0;
	  height: 0;
	  border-left: 100px solid transparent;
	  border-right: 100px solid transparent;
	  border-top: 53px solid #fFF;position:absolute; left:50%; bottom:-53px; margin-left:-100px}
}
  }
  .navbar-toggle {background: $brand-primary; float:none; margin-top:0;
  .icon-bar {width:30px; height:3px;}
	}
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .topbar {
	.menu-item {margin-right:0;}
  }
  .navbar-default .navbar-nav > li > a, .menu-search {padding-left:10px;padding-right:10px;}
}

@media screen and (min-width: $screen-lg-min) {
  .topbar {
	.menu-item {}
  }
}

@media screen and (min-width: $grid-float-breakpoint) {}