// home content
.home {
  .main {padding:0;}
  .container>.navbar-header {margin:0}
  .cat-title {
    a, span {color:#FFF;}
  }
}

.home-content {
  h1 {font-size: 18px;}
}

.hp-sections {color:#FFF; padding:25px 0;
  a {color:#FFF;}
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {color:#FFF;}
}
// home slider
.hp-slider {margin-top:-28px;text-shadow:1px 1px 5px #000; position:relative;
     .overlay-white-border{padding: 15px; border:2px solid white;

    .description { padding:15px; color:#FFF; background: rgba(0,0,0,0.3); @extend .text-center;}
  }
  .bx-wrapper {margin-top:0}
  a:hover {text-decoration: none}
  h2 {font-size: 32px; font-weight: 300; line-height: 44px;
  @media screen and (max-width: $screen-sm-min){font-size: 32px;}}
  .slide-item .container {padding:150px 0 80px; min-height: 400px;}
  p {font-size: 18px;}
  h2, h3, h4 {color:#FFF;  margin: 15px 0;}
  
  .btn-white {margin-top:15px;margin-bottom: 15px;}
  .slider .slide-item {background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment: scroll;
   @media screen and (min-width: $screen-md) and (max-width: $screen-lg ){background-size: 220%;}
   //@media screen and (min-width: $screen-sm-max) and (max-width: $screen-md-max ){background-size: 190%;}
   @media screen and (min-width: $screen-lg) and (max-width: 1440px ){background-size: 180%;}
  }
  a.bx-prev, a.bx-next {background:transparent; border-radius:50%; width:45px; height:45px;text-align: center;
    &:hover {background: transparent;}
    i {text-shadow:1px 1px 1px transparent;color:$brand-primary; line-height: 44px;}
  }
  a.bx-prev {
    i {padding-right:5px}
  }
  a.bx-next {
    i {padding-left:5px;}
  }
}
.white-box {background: #FFF; box-shadow: 1px 1px 3px #ddd;padding:15px; margin-bottom: 15px;
  .entry-title {margin-top:0}
  .so-panel {margin-bottom:10px !important;}
  h2 {color:$brand-primary}
}
.circle-icon span {background: #e9e9e9; padding:15px; border-radius:50%; width:65px; height:65px;}
.table-responsive {margin:15px 0}
@media screen and (max-width: $screen-sm-max) {
  .hp-slider {
    .slider .slide-item {background-size: cover;}
  }
}
@media screen and (min-width: $screen-md-min ) {
  .archive {
    .hp-category {
      &:nth-of-type(2n+1) {clear:left;}
    }
  }
}
@media screen and (min-width: $screen-lg-min ) {
  .archive {
    .hp-category {
      &:nth-of-type(2n+1) {clear:none;}
      &:nth-of-type(3n+1) {clear:left;}
    }
  }
}

// Section features magazin -- home -----------------------------------------------------------------------------------------------------------------------------------
.section-features{
  i {font-size:50px; color:white;}
  h4{text-transform: uppercase; font-size:20px; font-family: $font-open; font-style: normal; color:white; font-weight: bold;}
  p{font-size: 13px;}
  .media{color:white; padding:16px 5px; margin-top:8px;
  }
  .bg-img{
    &:nth-of-type(3){
      padding-left:90px;
    }
    &:nth-of-type(2){
      padding-left:60px;
    }
    &:nth-of-type(1){
      padding-left:40px;
    }
  }
  @media screen and (max-width: $screen-md-max){
     i {font-size:40px; color:white;}
    h4{text-transform: uppercase; font-size:17px; font-family: $font-open; font-style: normal; color:white; font-weight: bold;}
    p{font-size: 12px;}
        .bg-img{
        &:nth-of-type(3){
          padding-left:60px; padding-top:10px;
        }
        &:nth-of-type(2){
          padding-left:40px; padding-top:10px;
        }
        &:nth-of-type(1){
          padding-left:30px; padding-top:10px;
        }
      }
  }

   @media screen and (max-width: $screen-sm-max){
     i {font-size:50px; color:white;}
    h4{text-transform: uppercase; font-size:20px; font-family: $font-open; font-style: normal; color:white; font-weight: bold;}
    p{font-size: 14px;}
        .bg-img{ margin-bottom:15px;
        &:nth-of-type(3){
          padding-left:222px; padding-top:10px;
        }
        &:nth-of-type(2){
          padding-left:222px; padding-top:10px;
        }
        &:nth-of-type(1){
          padding-left:222px; padding-top:10px;
        }
      }
  }
  @media screen and (max-width: $screen-xs-max){
     i {font-size:50px; color:white;}
    h4{text-transform: uppercase; font-size:20px; font-family: $font-open; font-style: normal; color:white; font-weight: bold;}
    p{font-size: 14px;}
        .bg-img{
        &:nth-of-type(3){
          padding-left:68px; padding-top:10px;
        }
        &:nth-of-type(2){
          padding-left:68px; padding-top:10px;
        }
        &:nth-of-type(1){
          padding-left:68px; padding-top:10px;
        }
      }
  }
  @media screen and (max-width:375px){
     i {font-size:40px; color:white;}
    h4{text-transform: uppercase; font-size:16px; font-family: $font-open; font-style: normal; color:white; font-weight: bold;}
    p{font-size: 12px;}
        .bg-img{
        &:nth-of-type(3){
          padding-left:60px; padding-top:10px;
        }
        &:nth-of-type(2){
          padding-left:60px; padding-top:10px;
        }
        &:nth-of-type(1){
          padding-left:60px; padding-top:10px;
        }
      }
  }
  @media screen and (max-width:320px){
     i {font-size:40px; color:white;}
    h4{text-transform: uppercase; font-size:15px; font-family: $font-open; font-style: normal; color:white; font-weight: bold;}
    p{font-size: 11px;}
        .bg-img{ margin-bottom:-15px;
        &:nth-of-type(3){
          padding-left:41px; padding-top:10px;
        }
        &:nth-of-type(2){
          padding-left:41px; padding-top:10px;
        }
        &:nth-of-type(1){
          padding-left:41px; padding-top:10px;
        }
      }
  }
}

// SEction banners ----------------------------------------------------------------------------------------------
.section-banners{ margin-bottom: 35px;
  .banner-hover{position: absolute; width:100%; height:100%; background:rgba(0,0,0,0.3); z-index: 1;  visibility: hidden;}
  .line-horizontal{position: absolute; width:80px; height:1px; background-color: $brand-primary; top:50%; left: 50%; transform:translate(-50%, -50%); z-index: 3;  visibility: hidden;}
  .line-vertical{position: absolute; width:1px; height:80px; background-color: $brand-primary; top:50%; left: 50%; transform:translate(-50%, -50%); z-index: 3;  visibility: hidden;}
  h2{color:black; margin:0 0 50px 0;}
  .banner-content-container-middle{position:relative; max-width: 390px;  @extend .center-block; transition: all .5s ease-in-out;
      .banner-overlay{position:absolute; width:90%; height:93.5%; border:3px solid white; border-radius:3px; top:50%; left:50%; transform:translate(-50%, -50%);}
      img {height:735px;}
      &:hover{
        .banner-hover, .line-horizontal, .line-vertical {visibility: visible;}
      }

  }
  .banner-content-container{position:relative; max-width:360px; @extend .center-block; transition: all .5s ease-in-out;
    .banner-overlay{position:absolute; width:90%; height:90%; border:3px solid white; border-radius:3px; top:50%; left:50%; transform:translate(-50%, -50%);}
    &:hover{
      .banner-hover, .line-horizontal, .line-vertical {visibility: visible;}
    }
  }


  @media screen and (max-width:$screen-xs-max) {

      .banner-content-container-middle{max-width: 290px !important;
        img{height: auto;}
      }
      .banner-content-container{ max-width:290px; }
  }
   @media screen and (max-width:$screen-md-max) {
      .banner-content-container-middle{
        img{height:602px;}
      }
  }
   @media screen and (max-width:$screen-sm-max) {
      .banner-content-container-middle{
        img{height:456px;}
      }
  }
  @media screen and (max-width:$screen-xs-max) {
      .banner-content-container-middle{
        img{height:auto;}
      }
  }
}

// ---------------------------------------- Section avantaje/ traits --------------------------------------------------------------------------------------------
.section-traits{
  h2{margin:0 0 50px 0;}
  ul{max-width: 95%; @extend .center-block}
  i{font-size: 18px; color:#d7d7d7;}
  li{padding:0 10px;}
  span{font-family: 'Crimson Text' ; font-size:28px; color:#343434; margin-left:5px;
    @media screen and (max-width: $screen-xs-max) {font-size:20px;}
  }

  @media screen and (max-width:$screen-xs-max){
    li{display:block; text-align: center;}
  }
}


// ---------------------------------------- Section homepage produse --------------------------------------------------------------------------------------------
.section-produse{
  h2{color:black;}
}


// ---------------------------------------- Section clienti --------------------------------------------------------------------------------------------
.section-clienti{
  .clienti-column{ margin-bottom:15px; display:inline-block; vertical-align: middle; text-align: center;
    .clienti-bg-image{width:100%; height:130px;
      @media screen and (max-width: $screen-xs-max){background-size: 50% !important;}
    }
  }
  img{display:inline-block; vertical-align: middle; text-align:center; width:120px; height:95px;}
}