// Category Product Box
.product-box {
  @media screen and (max-width: $screen-xs-max) {&:nth-child(2n+1){clear:left;}}
  @media screen and (min-width: $screen-sm-min) {&:nth-child(2n+1){clear:none;}}
  img {@extend .center-block}


  a.button{background-color: $brand-primary !important; border:none !important;box-shadow: none !important; border-radius:0 !important; font-family: $font-open !important; font-style: normal !important; 

  }
  .woocommerce-Price-amount{color:white; text-decoration:none !important;}
  ins {background:none !important;}
  

  .woocommerce-Price-amount{font-weight: normal !important; background:none !important;}
  .entry-summary{
    .woocommerce-Price-amount, .woocommerce-price-suffix{color:$brand-primary; text-decoration:none !important; font-weight: normal !important; background:none !important; font-size:18px;}
    .product-meta{margin-bottom: 30px;}
    .sku_wrapper{display: block;}

  }
  .mogafit_single_add_to_cart{background-color: $brand-secondary !important; border:none !important;box-shadow: none !important; border-radius: 0 !important;}
  p.price{color:$brand-primary !important;}
  ins{text-decoration: none !important;}
  .single-product{
    .de-la {color:$brand-primary;}

    del{display: none !important;}
    .sku_wrapper{display: block !important;}
  }
  .stock .in-stock {color:$brand-primary !important;}
  .single_add_to_cart_button {font-family: $font-open; font-style:normal !important;}
  .product-box-image {position: relative; background: #FFF; text-align: center;
	.price {position: absolute; bottom:0 !important; right:50%; transform:translate(50%,0); width:90%; text-align: center; background:url('../images/price-bg.png') no-repeat !important; background-size: 100% !important; background-position: center center !important; padding:5px 3px !important; font-size:14px; font-style: normal; letter-spacing: 0.7px; color:white; text-align: center; font-weight: normal !important; }
  }
  h3 {font-size: 18px; font-style: normal; font-family: $font-open; font-weight: bold; color:#303030; text-align: center; margin:10px 0 10px 0; line-height: normal;
    @media screen and (max-width: $screen-xs-max) {font-size: 9px;}
    @media screen and (max-width: $screen-md-max) {font-size: 12px;}
  }
  
}
// Product overlay
.product-overlay{position:absolute; width:100%; height:100%; background-color:rgba(0,0,0,0.4); display:none; transition: all .2s liniear;
 
  i{position:absolute; top:50%; left: 50%; transform:translate(-50%, -50%); font-size:30px; color:white;}
}

 .product-img-padding-border{border:1px solid #eaeaea; position:relative;
      &:hover{
        
        .product-overlay{display: block;}
        .price {background:url('../images/price-bg-hover.png') no-repeat !important; background-size: 100% !important; background-position: center center !important; }
      }
    }
  .for-hover{
    &:hover{
      a.button{ background-color: $brand-secondary !important;}
      h3, a{text-decoration: none !important;}
    }
  }

.home 
  .product-box {background: white; padding:0 5px 0 5px !important;
    .price {position: absolute; bottom:0; right:50%; transform:translate(50%,0); background: #282828; padding:3px 5px; font-size:14px; font-style: normal; letter-spacing: 0.7px; color:white !important;
    }
   
    img{ @extend .img-responsive; }
    .button {margin-bottom: 10px;}
    .add_to_cart_button{display:none;}

}

// Header Cart
.header-cart { float:left;
  .dropdown {float:left;}
}
#shopping_cart {
  .dropdown {float:left;}
  .dropdown-menu {width:320px; padding:15px;top: 30px; right:0; left:auto;
    @media screen and (max-width: $screen-xs-max ) {width:247px;}
  	h3 {display: none}
  }
  a#dLabel {padding:6px 5px;}
  a.cart-contents {float:right;}
}

// Widget
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {float:left; margin-left:0; margin-right:4px;}
.woocommerce ul.cart_list li .quantity, .woocommerce ul.product_list_widget li .quantity {float:right}

// Home Products Carousel
.home-carousel {
  h2 {font-size: 32px; font-style: italic; font-weight: 600; margin-top:40px;}
}

.add_to_cart_button {
  &:before {
    font-family: "FontAwesome";
    content:"\f217";
    font-style: normal;
    margin-right: 10px;
    color:#FFF;
  }
}
// Home Categories
.home-categories {margin:25px 0;
	.home-cat {position: relative; margin-bottom:30px}
  .sep-simple {margin-bottom:25px;}
  .category-title {position: absolute; bottom:0; left:0; text-align: center; width:100%; background: rgba(255,255,255,0.7); padding:5px 15px; font-size: 24px; font-style: italic; font-weight: 600; color:#323232}
}

// Woocommerce Overrides
.woocommerce ul.products li.product h3 {
  font-size:18px;
}

// Checkout
#ship-to-different-address {position: relative;padding-left:25px;}
#ship-to-different-address-checkbox {position:absolute; left:0; top:11px;}
#place_order {font-size: 22px; padding: 7px 13px;}

// Order Thank you
.woocommerce-thankyou-order-details {background: #FFF; padding: 25px; box-shadow: 1px 1px 3px #ddd;}
.woocommerce-thankyou-order-received {background: $green; color:#FFF; text-shadow:1px 1px 2px #333; font-weight: bold; text-align: center; padding:15px;font-size: 22px; font-style: italic}
.addresses {
  h3 {margin-top:0; font-size:24px;}
}

.archive {
  .onsale{left:5px !important; top:5px !important;}
  .price{ bottom:0 !important; color:white !important;
  .de-la{color:white !important;}
  .product-type-variable{
    .price{bottom:-3px !important;}
  }
}
.woocommerce-price-suffix{@extend .hidden-xs;}
}

// Social share icons

.woo-social{ padding:10px 0; border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea;
  .woo-share-link {border-radius:0; background: #FFF; border:1px solid #ccc; margin-right: 5px; padding:5px 7px; font-size: 12px;}
  .fa-twitter {color:#1da1f2;}
  .fa-facebook {color:#3b5998;}
  .fa-google-plus{color:#c53929}
  .fa-pinterest{color:#cb2027;}
  .fa-stumbleupon{color:#ea5e33;}
  .woo-share-link{
    span{color:#303030}
  }
}
.wc-variation-selection-needed{font-size: 16px !important;}
.product_meta {
   &:after{content:""; display:block; width:100%; height:1px; background-color:#eaeaea; margin-bottom:15px; margin-top:5px;}
}
.sku_wrapper{margin-bottom:15px;}
.posted_in, .tagged_as{display:block !important;}
.pa_color{color:#303030 !important;}

.single_variation_wrap {text-align: center;

}

.woocommerce-variation-add-to-cart{margin-top: 15px; @extend .clearfix; text-align: center;
  .quantity, .single_add_to_cart_button {display: inline-block; float:none;}
}

.images{
  img {@extend .product-img-padding-border;}
}

.product-type-simple{
  .quantity{display:inline-block;}
  .cart {text-align: center;}
}

.product-type-variable{
  p.price{display: none;}
}


.woocommerce-shipping-fields{
  label{font-weight: normal;}
}

.related-products{
  ins{color:white !important;}
  h2 {margin-top:30px !important;}
}

.single-product{
  span.onsale{left:30px;}
}
.related {
   span.onsale{left:15px;}
}

.entry-summary {
  span.price{font-size:18px !important;}
  .single_add_to_cart_button{font-size: 14px !important;}
  h5{display: none;}
}