.sidebar {
  .widget{ margin-bottom:30px;
    .widget-title{font-size:14px; color:$brand-secondary; font-style:normal; font-weight: bold; text-transform: uppercase; font-family: $font-open}
  }
  .white-box {
	.widget-title {font-size: 14px !important; color:#333; margin-top:0;
    span{font-size:14px;}
  }
  }
  .filter-widget { background:#FFF;
	.widget-title { color:$brand-secondary; font-style: normal; font-size: 14px;margin:0 0 10px 0;}
	ul {margin-bottom: 15px}
  li {position: relative; margin-bottom: 10px;}
  }
  .widget {
	a {color:$brand-fourth}
  }
  .widget_layered_nav {
	li {}
	a {font-style: normal}
  }
}
.widget_product_categories, .woocommerce-MyAccount-navigation {
  ul {list-style-type: none; padding-left:0; margin-bottom: 0}
  li {position: relative; margin-bottom: 10px;
	a {font-style: normal; color: #6a6a6a;}
	//&:before {content:""; position: absolute; left:0; top:5px; width:22px; height:10px; background: url("../images/bullet.png") no-repeat 0 0 transparent;   }
  }
}

.woocommerce-MyAccount-navigation {padding:10px; background:#FFF;}
.woocommerce-MyAccount-navigation-link--downloads {display: none}
