/**
 * WooCommerce CSS Variables
 */

$woocommerce:   	$brand-secondary;
$green:         	#408E2F;
$red:           	#EC4331;
$orange:        	#EC8E31;
$blue:          	#276798;

$primary:           $brand-primary;                                    // Primary colour for buttons (alt)
$primarytext:       #FFF;    // Text on primary colour bg

//$secondary:         desaturate(lighten($primary, 40%), 21%);    // Secondary buttons
$secondary:         $brand-secondary;    // Secondary buttons
$secondarytext:     #FFF;   // Text on secondary colour bg

$highlight:         adjust-hue($primary, 150deg);               // Prices, In stock labels, sales flash
$highlightext:      desaturate(lighten($highlight, 50%), 18%);  // Text on highlight colour bg

$contentbg:         #fff;                                       // Content BG - Tabs (active state)
$subtext:           #777;                                       // small, breadcrumbs etc