body {}
body#tinymce {border:none}
.section-padding{padding:50px 0;}
.wrap {
  padding-bottom: 25px;
}
.home {
  .wrap {padding-top:0; padding-bottom:0;}
}
.admin-bar .navbar-fixed-top {top:32px;
   @media screen and (max-width: 782px) {top:46px}
}

//Section titles
.section-title{font-family: $font-crimson; font-style: italic; font-weight: 600;}
.section-gray-bg{background-color:#f5f5f5; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; }

.text-bold {font-weight: bold}
.no-padding {padding-left:0 !important; padding-right:0 !important;}
.no-padding-left {padding-left:0 !important;}
.no-padding-right {padding-right:0 !important;}
.margin-bottom{margin-bottom: 30px;}
.banner-margin-bottom{margin-bottom: 15px !important;}
.inline-block{display:inline-block;}
.container-border{padding:15px 10px 5px 10px !important; border: 1px solid #eaeaea; margin-top:50px;}
.margin-top{margin-top: 35px !important;}

.product-box del{display: none !important;}
.woocommerce-message{background-color: #f2f2f2 !important;}

.entry-content .table {
  td {vertical-align: middle}
  p {margin-bottom: 0}
}
h1, h2, h3, h4 {}

a, button {
  &:focus, &:active {outline: none !important}
}
.form-control {}
.sep-simple { position: relative; text-align: center; margin:0; background:#fff; color:#000; font-family: $font-crimson; font-style:italic; font-weight: 600;
  &:before {content:""; width:100%; height:1px; background: #eaeaea; position: absolute; left:0; top:46%;}
  span {display:inline-block;background:#fff; padding-left:40px; padding-right:40px; position: relative;
  &:before, &:after {content:""; width:10px; height:10px; background: $brand-primary; transform: rotate(45deg); position: absolute; left:11px; top:10px}
    &:after {left:auto; right:11px}
  }
}

.sep-simple-2{position: relative; text-align: center; margin:0; color:#000;
  &:before, &:after {content:""; width:10px; height:10px; background: $brand-primary; transform: rotate(45deg); display: inline-block; }
  &:before{margin-right:20px;}
  &:after{margin-left: 20px;}
}
img {-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }
.video-container, .map-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.map-container {padding-bottom: 300px;}
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.map-container iframe, .map-container object, .map-container embed, .map-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; }

.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 13px; left: 11px; width: 100%; height: 100%; }

.cookie-notice-container {max-width:1140px; margin:0 auto;}
#cookie-notice {background: rgba(0,0,0,0.7) !important;}
#cn-accept-cookie {background: $brand-primary; color:white; padding:5px 9px !important; font-weight: bold }
#cn-more-info {color:#f7f7f7;}